.loaderContainer {
  transition: 0.35s ease-in-out;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 3;
}

.loaderContainer.false {
  opacity: 0;
  z-index: -5;
  position: absolute;
}

.loaderContainer.true{
  opacity: 1;
}

.loaded {
  z-index: 999;
}
  
  
  #background-video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: -3;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }

  .background-cover {
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255, 0.15);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
  }

  .video-container  {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -3;
  }

  .Typist {
    margin-top: 175px;
    margin-left: 50px;
    margin-bottom: 35px;
    background: rgba(0,0,0, 0.45);
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  .Cursor {
    padding-right: 15px;
  }


  .currentBandName, .Cursor {
    font-family: 'bitter';
    color: white;
    letter-spacing:.3vw;
    font-size:75px;

  }

  .Cursor {
    padding-left: 15px;
  }

.button {
  display: block;
  font-family: 'open';
  font-size: 15px;
  color: white;
  background: rgba(0,0,0, 0.45);
  border: 2px solid white;
  text-transform: uppercase;
  letter-spacing: .8px;
  margin-left: 50px;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  float: left;
  clear: both;
}

@font-face {
  font-family: 'bitter';
  src: url('./fonts/bitter-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/bitter-bolditalic-webfont.woff') format('woff'),
       url('./fonts/bitter-bolditalic-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open';
  src: url('./fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('./fonts/opensans-extrabold-webfont.woff') format('woff'),
       url('./fonts/opensans-extrabold-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}